.swiper {
  height: 212px;
  position: relative;
}
.am-flexbox-item {
  text-align: center;
  padding: 10px 0;

  img {
    width: 48px;
  }
  h2 {
    font-size: 13px;
    font-weight: 400;
    margin-top: 5px;
  }
}

// // 顶部搜索框
// .searchbox {
//   position: absolute;
//   height: 34px;
//   width: 100%;
//   top: 25px;
//   padding: 0 10px 0 18px;
  
//   .search {
//     flex: 1;
//     height: 100%;
//     background-color: #fff;
//     margin-right: 10px;
//     border-radius: 3px;
//     .location {
//       padding: 0 5px 0 10px;
//       span {
//         line-height: 34px;
//       }
//       i {
//         font-size: 12px;
//         margin-left: 2px;
//       }
//     }
//     .search-input {
//       padding-left: 25px;
//       border-left: 1px solid #ccc;
//       position: relative;
//       font-size: 14px;
//       color: #bbb;
//       // input {
//       //   display: block;
//       //   height: 100%;
//       //   outline: none;
//       //   border: none;
//       //   &::-webkit-input-placeholder {
//       //     color: #bbb;
//       //     font-size: 12px;
//       //     line-height: 34px;
//       //   }
//       // }
//       .iconfont.icon-seach {
//         font-size: 16px;
//         color: #bbb;
//         position: absolute;
//         left: 3px;
//         top: 0;
//       }
//     }
//   }
//   .search-map-button.icon-map {
//     height: 100%;
//     width: 34px;
//     font-size: 28px;
//     color: #fff;
//   }
// }

// 租房小组样式
.groups {
  background-color: #f6f5f6;
  overflow: hidden;
  padding: 0 10px;

  .title {
    position: relative;
    margin: 15px 0 15px 10px;
    font-size: 15px;

    .more {
      color: #787d82;
      position: absolute;
      right: 0;
      font-size: 14px;
      font-weight: 400;
    }
  }

  .am-grid .am-flexbox {
    background-color: inherit;
    .am-flexbox-item .am-grid-item-content {
      padding: 0;
      padding-bottom: 10px;
    }
  }

  .group-item {
    height: 75px;

    .desc {
      .groups-title {
        font-weight: bold;
        font-size: 13px;
        margin: 0;
        margin-bottom: 5px;
      }
      .info {
        font-size: 12px;
        color: #999;
      }
    }
    img {
      width: 55px;
    }
  }

  .am-flexbox-align-stretch {
    margin-bottom: 10px;
    .am-grid-item {
      background-color: #fff;
      padding: 0;
      &:first-child {
        margin-right: 10px;
      }
    }
  }
}

// 最新资讯
// 最新资讯：
.news {
  padding: 10px;
  background-color: #fff;
  overflow: hidden;

  .group-title {
    margin: 10px 0 5px 10px;
    font-size: 15px;
  }

  .news-item {
    height: 120px;
    padding: 15px 10px 15px 0;
    border-bottom: 1px solid #e5e5e5;
  }

  .news-item:last-child {
    border: 0;
  }

  .imgwrap {
    float: left;
    height: 90px;
    width: 120px;
  }

  .img {
    height: 90px;
    width: 120px;
  }

  .content {
    overflow: hidden;
    height: 100%;
    padding-left: 12px;
  }

  .title {
    margin-bottom: 15px;
    font-size: 14px;
  }

  .info {
    width: 100%;
    color: #9c9fa1;
    font-size: 12px;
  }

  .message-title {
    margin-bottom: 48px;
  }
}